<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form">
  <div class="row">
    <label class="label" for="firstName">First Name:</label>
    <input class="input" id="firstName" formControlName="firstName" />

    <label class="label" for="lastName">Last Name:</label>
    <input class="input" id="lastName" formControlName="lastName" />
  </div>
  <div class="row">
    <label class="label" for="phoneNumber">Phone Number:</label>
    <input class="input" id="phoneNumber" formControlName="phoneNumber" />

    <label class="label" for="email">Email:</label>
    <input class="input" id="email" formControlName="email" />
  </div>

  <label class="label" for="birthDate">Birth Date:</label>
  <input class="input" id="birthDate" type="date" formControlName="birthDate" />

  <label class="label" for="address">Address:</label>
  <textarea class="textarea" id="address" formControlName="address"></textarea>

  <button class="button" type="submit">Save</button>
</form>
